<footer class="mt-3">
    <div class="footer_info">
        <div class="footer_links">
            <a href="#" class="social-icon"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#" class="social-icon"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#" class="social-icon"><i class="fa-brands fa-square-twitter"></i></a>
        </div>
        <div class="footer_text">&copy; 2025 Online Booking. All Rights Reserved.</div>
        <div class="footer_term">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
        </div>
    </div>
</footer>
